.button {
    cursor: pointer;
    border: none;
    z-index: 1;
    span {
        display: none;
    }

    &.text {
        border-radius: 50%;
        color: #ffffff;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        transition: 0.2s;
        letter-spacing: 0.5px;
        padding: 4px 8px;
    }

    &.modal-button {
        padding: 8px;
        height: 36px;
        width: 153px;
    }

    // Icon colors
    &.default {
        background-color: rgb(112, 110, 110);

        &:hover {
            background-color: rgb(81, 81, 81);
        }
    }

    &.info {
        background-color: #1e50ff;
        width: 35px;
        height: 35px;

        &:hover {
            background-color: #1841d6;
            display: flex;
            align-items: center;
            border-radius: 24px;
            width: auto;
            // transform: rotate(0.5turn);
            span {
                display: flex;
            }
        }

        &:disabled {
            opacity: 0.3;
            cursor: default;
            background-color: #1e50ff;
        }
    }

    &.danger {
        background-color: rgba(23, 64, 215, 0.559);
        border: 1px solid #1e50ff;
        width: 50px;
        height: 50px;

        &:hover {
            background: rgba(30, 30, 255, 0.963);
            border: 1px solid #110067;
            color: #fff;
        }
    }
}
